li {
  list-style-type: none;
  font-size: 15px;
}
h3 {
  position: relative;
  left: 40px;
  color: #0779e4;
}
#icon {
  position: relative;
  left: 30px;
  height: 120px;
  width: 120px;
}
h1 {
  position: relative;
  left: 40px;
  font-size: 15px;
  font-weight: 400;
  color: black;
}
h4 {
  font-size: 18px;
  top: 30px;
}
.col-sm-4 {
  text-align: center;
}
#icons {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}
.temp {
  text-align: center;
}
.container {
  padding-top: 30px;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background-color: white;
}
.search-form {
  margin-bottom: 20px;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.celsius {
  font-size: 12px;
}
.author {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
